.card-main{
  width: 87.27%;
  max-height: 100%;
  margin-left: 1rem;
  background: #000;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.card-image{
  width: 30%;
  height: 10rem;
  margin-right: 1rem;

  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}
.card-info{
  width: 100%;
  min-height: 100%;
  padding: 1.5rem;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;

  border-radius: 2rem;
  border: 1px solid green;
}
.card-title{
  font-size: 1rem;
  margin: 1rem;
  color: white;
}
.card-followers{
  font-size: 1rem;
  margin: 1rem;
  color: white;
}
.card-link{
  width: auto;
  min-height: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;

  text-decoration: none;
  font-size: 1rem;

  color: green;
  border: 1px solid green;
  border-radius: 1rem;
  transition: all 0.3s ease;

  &:hover{
    background: green;
    color: white;
  }
}