.Home-container{
  width: 87.27%;
  height: 87.1vh !important;
  margin-left: 8%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;

  .Home-title{
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
  }
  .Home-text{
    width: 60%;
    height: 10rem;
    margin-top: 2rem;
    padding: 2rem;

    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
  
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
  }
}
